.promo {
  background: url(../img/backgraunds/uber_bg.jpg) center center/cover no-repeat;
  padding: 120px 0;
  color: #ffffff;
}

.promo-title {
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.promo-subtitle {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
}

.promo-text {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 100px;
}

.promo-btn {
  margin: 0 auto;
  display: block;
  padding: 19px 26px;
  font-size: 17px;
  transition: 0.2s all;
  &:active {
    transform: scale(0.95);
  }
}
